body {
  font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------
 # Nav 
 -----------------------------------------------*/

#nav {
  background-color: black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 3em;
}

#nav li {
  display: inline;
}

#nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  padding: 1em;
}

#nav a:hover {
  color: palevioletred;
}

/* ----------------------------------------------
# Wrappers
----------------------------------------------- */

.wrapper {
  padding: 0.5em;
  color: mediumblue;
  text-align: center;
  font-weight: bolder;
  background-image:url('images/blue.jpg');
}

.wrapper.style1 {
  padding: 3em;
  font-style: italic;
  margin-top: 50px;
}

.wrapper.style1 h1 {
  padding: 0.7em;
  font-size: 30px;
}

.wrapper.style1 h5 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.wrapper.style2 h3 {
  padding: 1.2em;
}

.wrapper.style2 h4 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.wrapper.style3 h2 {
  padding: 1.5em;
}

.wrapper.style4 h3 {
  padding: 1.5em;
}

.wrapper.style3 h5 {
  margin-bottom: 100px;
}

.wrapper.style4 form input {
  color: blue;
  font-style: italic;
  border: 3px solid navy;
}

.wrapper.style4 form textarea {
  color: blue;
  font-style: italic;
  border: 3px solid navy;
}

.wrapper.style4 form .actions input {
  border: 3px solid navy;
  background:powderblue;
}

/*------------------------------------------------
# Contact 
-------------------------------------------------*/

form input {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
}

form textarea {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
}

ul.actions li {
  display: inline-block;
}

ul.actions input:hover {
  font-weight: 800;
  color: orange;
}

/*--------------------------------------------
# Popup
---------------------------------------------*/

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}
.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 85vw;
  height: 55vh;
  z-index: 2;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: gray;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

