body {
  font-family: 'Open Sans', sans-serif;
  /* line-height: 3; */
}

/* Nav */

#nav {
  background-color: black;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* z-index: 10000; */
  /* cursor: default; */
  /* height: 3.5em; */
  line-height: 3.5em;
  /* font-weight: 700; */
}

/* #nav ul {
	margin-bottom: 0; 
	list-style: none; 
	padding-left: 0; 
  } */

#nav li {
  display: inline;

  /* padding-left: 0; */
}

#nav a {
  display: inline block;
  text-decoration: none;
  /* outline: 0; */
  font-weight: bold;
  font-size: larger;
  padding: 1em;
  /* border-radius: 8px; */
  /* color: rgb(226, 43, 195); */
  /* height: 4.5em;
	line-height: 2.5em; */
}

#nav a:hover {
  color: palevioletred;
}

/* Contact */

/* form label {
  color: blue;
  font-weight: 700;
  display: block;
  margin: 2 1 0.5em 2;
} */

form input[type='text'],
/* form input[type='email'],
form input[type='password'], */
/* form select, */
form textarea {
  /* -moz-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-appearance: none; */
  /* display: block; */
  /* border: 0; */
  padding: 0.55em;
  /* font-size: 1em; */
  border-radius: 10px;
  /* line-height: 10px; */
  /* border: solid 1px #ddd;
  background: blue;
  color: purple; */
  /* box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05),
    0px 1px 0px 0px rgba(255, 255, 255, 0.025); */
  width: 100%;
  /* border: 1px solid black; */
  margin: 10px;
  /* height: 10em; */
}

form input[type='text']:focus,
/* form input[type='email']:focus, */

/* form select:focus,
form textarea:focus {
  background: #fafafa;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05),
    0px 1px 0px 0px rgba(255, 255, 255, 0.025), inset 0px 0px 2px 1px #43bff0;
} */

form textarea {
  height: 15em;
}

/* form .actions:last-child {
  margin-top: 0;
  margin-bottom: 10;
}  */

form ::-webkit-input-placeholder {
  color: navy;
}

/* form :-moz-placeholder {
  color:pink !important;
} */
/* 
form ::-moz-placeholder {
  color:blue;
} */

/* form :-ms-input-placeholder {
  color: blueviolet;
} */

/* form ::-moz-focus-inner {
  border: 0;
}  */

/* Contact Social */

ul.social 

ul.social button a {
  position: relative;
  /* display: inline-block;  */
  /* margin: none;  */
  /* top: 0;  */
  /* padding-left: 0; */
  /* border-radius: 50%; */
  color: navy;
  /* padding: 0.05em 0.05em 0 0.25em; */
  /* background-color:sandybrown; */
  /* font-display: none; */

  /* display: block; */
  /* font-size: 16px; */
  /* height: 30px;
  width: 40px; */
  /* line-height: 48px; */
  /* text-align: center; */
  /* outline: 0; */
  /* overflow: hidden; */
}

/* Contact Actions */

ul.actions li {
  display: inline-block;
  /* border-radius: 8px; */
  /* margin: 9 10 10 10em; */
  /* padding-left: 0;
  list-style: none; */
}

/* Wrappers */

.wrapper {
  padding: 6em;
  color: mediumblue;
  text-align: center;
  /* height: 100vh; */
  /* background-color: navajowhite; */
  background-color:deepskyblue;
  /* background-color:cornflowerblue;  */
  /* background-image: url('images/blue.jpg'); */
}

.wrapper.style1 {
  /* height: 100vh; */
  padding: 8em;
  /* color:mediumblue; */
  font-style: italic;
  margin-top: 50px;
  /* justify-content: end; */
}

.wrapper.style1 h1 {
  padding: 1em;
  /* color: mediumblue; */
  font-size: 30px;
  /* padding-bottom: 40px; */
}

.wrapper.style1 h5 {
  font-size: 20px;
  line-height: 50px;
}

.wrapper.style4 h3 {
  padding: 1.5em;
}

.wrapper.style4 form input[type='text'],
.wrapper.style4 form input[type='password'],
.wrapper.style4 form select,
.wrapper.style4 form textarea {
  border: 4px solid navy;
  background: powderblue;
}

.wrapper.style4 form input[type='text']:focus,
.wrapper.style4 form input[type='password']:focus,
.wrapper.style4 form select:focus,
.wrapper.style4 form textarea:focus {
  height: 40px;
  background: burlywood;
}

.wrapper.style4 form .actions input {
  border: 3px solid navy;
  background: paleturquoise;
  /* border-radius: 25%; */
}
